<%- include('partials/header') %>

<div id="contact" class="container-fluid bg-grey">
  <br>
  <center>
    <span class="badge badge-pill badge-warning"><h3>Contact me</h3></span>
    </center>

  <div class="row">
    <div class="col-sm-1">
      <img src="https://lh3.googleusercontent.com/a-/AAuE7mCGjtjWDqIMrP62FC7NX3t5cewul6TQaN-kbgrHrQ" height="100" width="100" style="border-radius: 100%;">
      </div>
      <div class="col-sm-5">
          <h5>Developed by</h5>
          <h6>Rahul Shanker Prasad</h6>
          <h6>Indian Institute Of Information Technology Surat</h6>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-5">
      <p><i class="fas fa-pencil-alt"></i> I would like to hear your suggestions.</p>
      <p><i class="fas fa-phone"></i> 8769898284</p>
      <p><i class="fas fa-envelope"></i> rahulshanker52@gmail.com</p>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
