<%- include('partials/header') %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <p class="lead">This is only a project developed for learning purpose only.</p>
    <hr>
    <div class="card-deck">
      <div class="card">
    <div class="card-body">
      <h5 class="card-title">Register <i class="fas fa-user-edit"></i></h5>
      <p class="card-text">Don't yet register? get registed to share your secrets with everyone.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Login <i class="fas fa-user"></i></h5>
      <p class="card-text">Already have a account? login to share your secrets.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Dark Secret <i class="fas fa-user-secret"></i></h5>
      <p class="card-text">No need to register to explore secrets just click below and have fun.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-dark btn-lg" href="/secrets" role="button">Secrets <i class="fas fa-key"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
<%- include('partials/footer') %>
