<%- include('partials/header') %>

<div class="jumbotron ">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
          <h2>Secrets</h2>
          <h6>Don't keep your secrets, share them anonymously!
          feel free to share.</h6>
      </div>
      <div class="col-sm-6">
        <h6 align="right  ">Please register to share your secret.
        <a class="btn btn-light btn-md" href="/register" role="button">Register here</a>
        <a class="btn btn-dark btn-md" href="/submit" role="button">My Secret</a>
        </h6>
      </div>
    </div>
    <hr>
    <div class="card-columns">
    <%userswithsecrets.forEach(function(user){if(user.secret!=""){%>

      <div class="card text-white bg-<%=color[Math.floor(Math.random() * 7)]%> mb-3">
        <div class="card-body">
          <p class="card-text"><%=user.secret%></p>
        </div>
      </div>
    <%}})%>
    </div>
    <hr>
  </div>
</div>

<%- include('partials/footer') %>
